html {
  margin: 1em;
  font-family: 'Corbel', 'Helvectica', sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

h1 a:link, h1 a:visited {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  font-size: 0.75em;
  font-weight: bold;
}

#header {
  margin: 0 0 1em 0;
}

#article {
  float: left;
  width: 800px;
}

#aside {
  float: left;
  margin: 0 0 0 1em;
}

#aside ul {
  margin: 0.25em 0 1em 0;
}

#footer {
  clear: both;
}

a:link {
  color: #0080ff;
}

a:link.selected {
  color: #000000;
  text-decoration: none;
}

.commit {
  margin: 1em 0;
  padding: 0.5em;
  background-color: #eeeeee;
  clear: both;
  border: 1px solid #dddddd;
}

.commit:first-child {
  margin: 0 0 1em 0;
}

.commit h3 {
  position: relative;
  top: -1.25em;
  font-size: small;
  float: right;
  display: inline;
  margin: 0;
  color: #bbbbbb;
  font-family: 'Consolas', 'Monaco', Monospace;
}

.message {
  margin-bottom: 1em;
  white-space: pre-wrap;
}

.committer {
  margin-top: 1em;
  clear: both;
}

.committer.is_author {
  display: none;
}

.author img,
.committer img {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 0.5em;
  border: 1px solid #999999;
}

.author,
.committer {
  clear: both;
  float: right;
  width: 10em;
}

.author .name,
.author .date,
.committer .name,
.committer .date {
  font-size: small;
}

.author .date,
.committer .date {
  color: #999999;
}

.author h4,
.committer h4 {
  font-size: x-small;
  color: #999999;
  padding: 0 0 0.25em 0;
  display: none;
}

div#loading {
  text-align: center;
}

.clear {
  clear: both;
}

#pagination {
  font-size: small;
}

#pagination li {
  padding: 0.25em;
  display: inline;
  border-right: 1px solid #999999;
}

#pagination li:last-child {
  border-right: none;
}
